server:
  port: 8080

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://postgres:5432/payment-db
    username: admin
    password: secret

  liquibase:
    change-log: classpath:db.changelog/db-changelog-master.yml
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/iprody-lms

logging:
  level:
    liquibase: DEBUG
    #    com.iprody.paymentserviceapp: DEBUG
    org.springframework.web: INFO
    org.springframework.data: INFO
    org.springframework.security: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers
