server:
  port: 8080

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://postgres:5432/payment-db
    username: admin
    password: secret

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect