server:
  port: 8080

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://postgres:5432/payment-db
    username: admin
    password: secret

  liquibase:
    change-log: classpath:db.changelog/db-changelog-master.yml
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    liquibase: DEBUG
